<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 2</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    

    <main>
      <div class="container projects">
        <h1 class="project-title">Projects</h1>
        <div class="container-into-project">
          <div class="project-content">
            <ul class="project-ul list">          
              <li class="  link">
                <svg class="project-block" width="44" height="19">
                  <use href="../img/block.svg"></use>
                  </svg>
              </li>
              <li class="">
                <svg class="project-block" width="44" height="19">
                  <use href="../img/#js.svg"></use>
                  </svg>
              </li>
              <li class="">
                <svg class="project-block" width="44" height="19">
                  <use href="../img/#node js.svg"></use>
                  </svg>
              </li>
              <li class="">
                <svg class="project-block" width="44" height="19">
                  <use href="../img/#git.svg"></use>
                  </svg>
              </li>
            </ul> 
          
            <h3 class="project-t">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

          
            <a
              class="project-btn"
              href="https://github.com/goitacademy/vanilla-app-template"
              target="_blank"
              rel="noopener noreferrer"  > See project
            </a>      
          </div>

          <div class="swiper">
          <!-- Additional required wrapper -->
            <ul class="swiper-wrapper">
              <!-- Slides -->
              <li class="swiper-slide">
                <img 
                    srcset=""
                    class="project-img" 
                    src="../img/image-1.jpg"  
                    alt="img1" >
                </li>

              <li class="swiper-slide">
                <img 
                    srcset=""
                    class="project-img" 
                    src="../img/image-2.jpg"  
                    alt="img1" >
                </li>
              
              <li class="swiper-slide">
                <img 
                    srcset=""
                    class="project-img" 
                    src="../img/image-3.jpg"  
                    alt="img1" >
                </li>         
            </ul>
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination"></div> -->
        
          <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </main>
    
    <script type="module" src="./project.js"></script> 
  </body>
</html>
