<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 2</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
 
    <main>
      <div class="container projects">
        <h1 class="project-title">Projects</h1>
        <div class="container-into-project">
          <div class="project-left-part">  
            <div class="project-content">
              <ul class="project-ul list">          
                <li class="project-li  link">
                  <svg class="project-block" width="44" height="19">
                    <use href="../img/imgSVG/icons-svg.svg#icon-ic-react"></use>
                    </svg>
                </li>
                <li class="project-li link">
                  <svg class="project-block" width="44" height="19">
                    <use href="../img/imgSVG/icons-svg.svg#icon-ic-js"></use>
                    </svg>
                </li>
                <li class="project-li link">
                  <svg class="project-block" width="44" height="19">
                    <use href="../img/imgSVG/icons-svg.svg#icon-ic-nodejs"></use>
                    </svg>
                </li>
                <li class="project-li link">
                  <svg class="project-block" width="44" height="19">
                    <use href="../img/imgSVG/icons-svg.svg#icon-ic-git"></use>
                    </svg>
                </li>
              </ul> 
            
              <h3 class="project-text">
                Programming Across 
                </h3>
              <h3 class="project-text">
                Borders: Ideas, 
                </h3>
              <h3 class="project-text">
                Technologies, Innovations
              </h3>
            </div>
            <div class="project-div-a">        
              <a class="project-btn"
                href="https://github.com/goitacademy/vanilla-app-template"
                target="_blank"
                rel="noopener noreferrer"  > See project
              </a>      
            </div>
          </div>

          <div class="swiper">
          <!-- Additional required wrapper -->
            <ul class="swiper-wrapper">
              <!-- Slides -->
              <li class="swiper-slide">
                <picture>
                  <source srcset="../img/imgJPEG/projectImg/image1-dt.jpg 1x,
                                 ../img/imgJPEG/projectImg/image1-dt@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image1-dt@3x.jpg 3x"
                        media="(min-width: 958px)" />
                  <source srcset="../img/imgJPEG/projectImg/image1-tab.jpg 1x,
                                 ../img/imgJPEG/projectImg/image1-tab@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image1-tab@3x.jpg 3x"
                        media="(min-width: 768px)" />
                  <source srcset="../img/imgJPEG/projectImg/image1-mob.jpg 1x,
                                 ../img/imgJPEG/projectImg/image1-mob@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image1-mob@3x.jpg 3x"
                        media="(max-width: 767px)" />                      
                <img 
                      srcset=""
                      class="project-img" 
                      src="../img/imgJPEG/projectImg/image1-dt.jpg"  
                    alt="image - 1" >
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="../img/imgJPEG/projectImg/image2-dt.jpg 1x,
                                 ../img/imgJPEG/projectImg/image2-dt@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image2-dt@3x.jpg 3x"
                        media="(min-width: 958px)" />
                  <source srcset="../img/imgJPEG/projectImg/image2-tab.jpg 1x,
                                 ../img/imgJPEG/projectImg/image2-tab@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image2-tab@3x.jpg 3x"
                        media="(min-width: 768px)" />
                  <source srcset="../img/imgJPEG/projectImg/image2-mob.jpg 1x,
                                 ../img/imgJPEG/projectImg/image2-mob@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image2-mob@3x.jpg 3x"
                        media="(max-width: 767px)" />                      
                <img 
                      srcset=""
                      class="project-img" 
                      src="../img/imgJPEG/projectImg/image2-mob.jpg"  
                    alt="image - 2" >
                </picture>
              </li>
              
              <li class="swiper-slide">
                <picture>
                  <source srcset="../img/imgJPEG/projectImg/image3-dt.jpg 1x,
                                 ../img/imgJPEG/projectImg/image3-dt@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image3-dt@3x.jpg 3x"
                        media="(min-width: 958px)" />
                  <source srcset="../img/imgJPEG/projectImg/image3-tab.jpg 1x,
                                 ../img/imgJPEG/projectImg/image3-tab@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image3-tab@3x.jpg 3x"
                        media="(min-width: 768px)" />
                  <source srcset="../img/imgJPEG/projectImg/image3-mob.jpg 1x,
                                 ../img/imgJPEG/projectImg/image3-mob@2x.jpg 2x, 
                                 ../img/imgJPEG/projectImg/image3-mob@3x.jpg 3x"
                        media="(max-width: 767px)" />                      
                <img 
                      srcset=""
                      class="project-img" 
                      src="../img/imgJPEG/projectImg/image3-mob.jpg"  
                    alt="image - 3" >
                </picture>
              </li>         
            </ul>
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination"></div> -->
        
          <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </main>
    
    <script type="module" src="../js/project.js"></script> 

  </body>
</html>
